<?xml version = "1.0" encoding = "UTF-8"?>
<configuration>
    <springProperty scope="context" name="fileName" source="log.file-name"/>
    <appender name = "STDOUT" class = "ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%d{yyyy-MM-dd'T'HH:mm:ss.SSS}] [%thread] %highlight(%-5level) %cyan(%class{36}.%M %L) - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name = "FILE" class = "ch.qos.logback.core.FileAppender">
        <File>${fileName}</File>
        <encoder>
            <pattern>[%d{yyyy-MM-dd'T'HH:mm:ss.SSS}] [%thread] %-5level %class{36}.%M %L - %msg%n</pattern>
        </encoder>
    </appender>

    <root level = "INFO">
        <appender-ref ref = "FILE"/>
        <appender-ref ref = "STDOUT"/>
    </root>
</configuration>